[Unit]
Description=Set KDE Plasma Wallpaper
After=graphical.target
Requires=display-manager.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/set-wallpaper
RemainAfterExit=yes
User=liveuser

[Install]
WantedBy=graphical.target
